NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=902646060670
GOOGLE_SHEETS_SPREADSHEET_ID=18lABqT7WGVEoWHr12J1ADQUwrQ6WkoaZuEPrddz_v9s
GOOGLE_SHEETS_CLIENT_EMAIL=reservation-bot@reservation-bot-488217.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY=f760a67ebc0ea8152162baf0d89fc61957e37f1a
GOOGLE_PLACES_API_KEY=AIzaSyBpMobgzNGUykrXLgURP9JD59v_myyBtrY
